<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879651299493-gmlfpesjukj27qc2p38jturn2ckh2ssp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879651299493-gmlfpesjukj27qc2p38jturn2ckh2ssp</string>
	<key>API_KEY</key>
	<string>AIzaSyCFhfzwHpWKUmN-o3J7VuT0mirnN2zNY2s</string>
	<key>GCM_SENDER_ID</key>
	<string>879651299493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cristian.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-bf866</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-bf866.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879651299493:ios:dccd76b03de3636eeaed4c</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-bf866.firebaseio.com</string>
</dict>
</plist>